
.feed {
  background-color: $color-gray-lightest;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  transform: translateZ(0);
}

@-webkit-keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

.feed-item {
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  position: relative;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  padding-left: 9px;
  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    width: 5px;
    @include respond-to($screen-md-min) {
      width: 10px;
    }
    @include respond-to($screen-lg-min) {
      width: 15px;
    }
  }
  .tes-csstransforms3d & {
    opacity: 0;
    &.animate {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: rotateX(-15deg);
      transform: rotateX(-15deg);
      -webkit-animation: flip .5s ease-out forwards;
      animation: flip .5s ease-out forwards;
    }
  }
}

.feed-item__welcometext {
  line-height: 1.4;
  width: 98%;
  @include respond-to($screen-md-min) {
    width: 80%;
  }
  @include respond-to($screen-lg-min) {
    width: 70%;
  }
}

.feed-item__content {
  padding: $spacing-md $spacing-lg;
}

.feed-item__text {
  @extend .h5;
  line-height: 1.4;
}

.feed-item__user {
  margin-bottom: $spacing-md;
  @include respond-to($screen-sm-min) {
    margin-bottom: 0;
  }
}

.feed-item__buttons {
  padding-left: $spacing-lg;
  border-top: 1px solid $color-gray-light;
  color: $color-gray-mid;
  font-size: $font-size-xs;
}

@each $section in $sections-list {
  .feed-item--#{$section} {
    &:before {
      display: block;
      background-color: section-color(#{$section});
    }
  }
}
